footer#footer.footer
  .footer__contacts
    .footer__contacts_title
      h2.default-title.white.animated-title(data-word='Контакты')
    .footer__contacts_item
      a(href="https://www.google.com.ua/maps/place/%D1%83%D0%BB.+%D0%93%D0%B5%D0%BD%D0%B5%D1%80%D0%B0%D0%BB%D0%B0+%D0%9F%D0%B5%D1%82%D1%80%D0%BE%D0%B2%D0%B0,+25%D0%90,+%D0%9E%D0%B4%D0%B5%D1%81%D1%81%D0%B0,+%D0%9E%D0%B4%D0%B5%D1%81%D1%81%D0%BA%D0%B0%D1%8F+%D0%BE%D0%B1%D0%BB%D0%B0%D1%81%D1%82%D1%8C,+65000/@46.4304987,30.707042,17z/data=!3m1!4b1!4m5!3m4!1s0x40c633a81c508783:0xfa5a7bbb64ac0bf6!8m2!3d46.430495!4d30.709236?hl=ru" target="_blank").footer-link(data-aos='fade-right-50' data-aos-delay='150')
        img(src='src/images/icons/mapLight.svg' alt='phone')
        span Одесса Генерала Петрова 25б
      a(href="tel:+380977237148").footer-link(data-aos='fade-right-50' data-aos-delay='300')
        img(src='src/images/icons/phoneLight.svg' alt='phone')
        span +38 (097) 723 71 48
      a(href="tel:+380506467424").footer-link(data-aos='fade-right-50' data-aos-delay='300')
        img(src='src/images/icons/phoneLight.svg' alt='phone')
        span +38 (050) 646 74 24
      a(href="mailto:hff.zakaz@gmail.com").footer-link(data-aos='fade-right-50' data-aos-delay='450')
        img(src='src/images/icons/mailLight.svg' alt='phone')
        span hff.zakaz@gmail.com
    .footer__copyright(data-aos='fade-right-50' data-aos-delay='600')
      span © 2021 happyfamily | by MantiCore Development
  .footer__form
    .footer__form_title
        h2.default-title.white.animated-title(data-word=`Хотите узнать стоимость проекта?`)
        p.animated-title(data-word='Оставьте заявку, и наш менеджер свяжется с Вами')
    <script data-b24-form="inline/7/0sdibj" data-skip-moving="true"> (function(w,d,u){ var s=d.createElement('script');s.async=true;s.src=u+'?'+(Date.now()/180000|0); var h=d.getElementsByTagName('script')[0];h.parentNode.insertBefore(s,h); })(window,document,'https://cdn.bitrix24.ua/b18368115/crm/form/loader_7.js'); </script>
