header.header
  .container-fluid
    .row.align-items-center.header__items
      .col-1
        img(src="src/images/icons/logo.svg" alt='logo').logo
      .col-xl-7.col-7.d-none.d-md-inline-block
        nav.header__navigation
          a(href='#services').default-link.anchor(data-aos='fade-right-20')
            span Что мы предлагаем?
          a(href='#furniture').default-link.anchor(data-aos='fade-right-20' data-aos-delay='150')
            span Виды мебели
          a(href='#apartments').default-link.anchor(data-aos='fade-right-20' data-aos-delay='300')
            span Портфолио
          a(href='#footer').default-link.anchor(data-aos='fade-right-20' data-aos-delay='450')
            span Контакты
      .col-xl-4.col-4
        .header__contactUs
          .phoneIcon
            img(src='src/images/icons/tel.svg' alt='phone')
            .phonesSelect
              a(href="tel:+380977237148").default-link
                span +38 (097) 723 71 48
              a(href="tel:+380506467424").default-link
                span +38 (050) 646 74 23
          .phones
            a(href="tel:+380977237148").default-link.contactPhone(data-aos='fade-right-20' data-aos-delay='750')
              span.d-none.d-xl-inline-flex +38 (097) 723 71 48
            a(href="tel:+380506467424").default-link.contactPhone(data-aos='fade-right-20' data-aos-delay='750')
              span.d-none.d-xl-inline-flex +38 (050) 646 74 23
          include bitrixScript
          button.default-btn.contactBtn.d-none.d-md-inline-block(data-aos='clip-right' data-aos-duration='1200' data-target='#modal' data-toggle="modal") Связаться с нами
          #burger.header__burger.d-md-none
            span
            span
            span


