doctype html
html(lang="en")
  head
    block vars
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge, chrome=1")
    link(rel="shortcut icon" href="src/images/icons/logo.svg" type="image/png")
    title #{page}
    <!-- Google Tag Manager -->
    script (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start': new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0], j=d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';j.async=true;j.src= 'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f); })(window,document,'script','dataLayer','GTM-MVCLZ8T');
    <!-- End Google Tag Manager -->

  body
    include header

    block content

    include  footer

    include menu

    //include modal

    include success

    <!-- Google Tag Manager (noscript) -->
    noscript
      iframe(src="https://www.googletagmanager.com/ns.html?id=GTM-MVCLZ8T" height="0" width="0" style="display:none;visibility:hidden")
    <!-- End Google Tag Manager (noscript) -->
    script(src="https://code.jivosite.com/widget/Ihl6ERW4Ha" async)
