block vars
    -
      var services = [
        {
          img: 'service1.svg',
          title: 'Ассортимент',
          desc: 'Работаем с большим ассортиментом материалов от эконом до премиум сегмента.'
        },
        {
          img: 'service2.svg',
          title: 'Сопровождение',
          desc: 'Полное сопровождение клиента от замера до фотосессии готовой мебели.'
        },
        {
          img: 'service3.svg',
          title: 'Замер',
          desc: 'На объект выезжает дизайнер, который делает все необходимые замеры и создаёт проект с учетом всех коммуникаций и особенностей помещения.'
        },
        {
          img: 'service4.svg',
          title: 'Качество',
          desc: 'Контролируем качество продукта на каждом этапе (от закупки материалов до сборки).'
        },
      ]
      var furniture = [
        {
          img: 'item1.jpg',
          title: 'Кухни',
        },
        {
          img: 'item2.jpg',
          title: 'Гардеробные',
        },
        {
          img: 'item3.jpg',
          title: 'Спальни',
        },
        {
          img: 'item4.jpg',
          title: 'Гостиные',
        },
        {
          img: 'item5.jpg',
          title: 'Прихожие',
        },
        {
          img: 'item6.jpg',
          title: 'Детские',
        },
      ]
      var apartments = [
        {row1: 'item1.jpg', row2: 'item2.jpg'},
        {row1: 'item3.jpg', row2: 'item4.jpg'},
        {row1: 'item5.jpg', row2: 'item6.jpg'},
        {row1: 'item7.jpg', row2: 'item8.jpg'},
        {row1: 'item9.jpg', row2: 'item10.jpg'},
        {row1: 'item11.jpg', row2: 'item12.jpg'},
        {row1: 'item13.jpg', row2: 'item14.jpg'},
        {row1: 'item15.jpg', row2: 'item16.jpg'},
        {row1: 'item17.jpg', row2: 'item18.jpg'},
        {row1: 'item19.jpg', row2: 'item20.jpg'},
        {row1: 'item21.jpg', row2: 'item22.jpg'},
        {row1: 'item23.jpg', row2: 'item24.jpg'},
        {row1: 'item25.jpg', row2: 'item26.jpg'},
      ]
      var hotels = [
        'item1.jpg',
        'item2.jpg',
        'item3.jpg',
        'item4.jpg',
        'item1.jpg',
        'item2.jpg',
        'item3.jpg',
        'item4.jpg',
      ]
      var introSlides = [
        {
            img: 'item1.jpg',
        },
        {
          img: 'item2.jpg',
        },
        {
          img: 'item3.jpg',
        },
        {
          img: 'item4.jpg',
        },
        {
          img: 'item5.jpg',
        },
      ]



append content
  main#main
    section#intro
      .intro
        .intro__slider
          each introSlide, index in introSlides
            .intro__slider-item
              .darkBg
                img(data-lazy=`src/images/intro/${introSlide.img}` alt=introSlide.img).slider-img
              .container-fluid
                .intro__slider-title
                  h2.default-title(data-aos='clip-right' data-aos-duration='1200').white.big!=`Мебель на заказ <br> в Одессе`
        .intro__slider-desc(data-aos='clip-left' data-aos-duration='1200')
          p.description!=`Если Вы ещё в поисках идеи, – наш дизайнер предложит варианты, по Вашему запросу. Или же предоставит каталоги серийных моделей мебели нужных категорий. <br> <br> Если уже нашли изображение мебели, которую желаете, – наш конструктор сделает точный просчёт и подробно проконсультирует: какие возможны дополнительные опции; или же на чём возможно сэкономить без потери качества, а на чём экономить не стоит.`
    section#apartments
      .apartments
        .slider-container
          .apartments__header
            h2.default-title.animated-title(data-word='Наши работы')
          .apartments__slider.slider
              each item, index in apartments
                .apartments__content.slider-content
                  .apartments__content-img.slider-content_item(data-aos='clip-right' data-aos-delay=(index * 100))
                    a(href=`src/images/apartments/${item.row1}` data-fancybox="Наши работы")
                      img(data-lazy=`src/images/apartments/${item.row1}` src=`src/images/apartments/preview.jpg` alt=item)
                  .apartments__content-img.slider-content_item(data-aos='clip-right' data-aos-delay=(index * 300))
                    a(href=`src/images/apartments/${item.row2}` data-fancybox="Наши работы")
                      img(data-lazy=`src/images/apartments/${item.row2}` src=`src/images/apartments/preview.jpg` alt=item)
          include bitrixScript
          button.default-btn.furniture__btn(data-aos='clip-right' data-aos-duration='1200') Бесплатная консультация
    section#services.services
      .container-fluid
        .services__title
          h2.default-title.animated-title(data-word='Чем мы отличаемся от других производителей')
        .row
            each service, index in services
              .col-12.col-md-6.col-lg-3
                .services__item(data-aos='fade-right-20' data-aos-delay=(index * 200))
                  img(src=`src/images/services/${service.img}` alt=service.img)
                  .services__item-title
                    span=service.title
                  .services__item-desc
                    p=service.desc
        include bitrixScript
        button.default-btn.furniture__btn(data-aos='clip-right' data-aos-duration='1200') Вызвать замерщика
      section#furniture
      .container-fluid
        .furniture
          .furniture__title
            h2.default-title.animated-title(data-word='Виды мебели')
          .furniture__items
            each f, index in furniture
                .furniture__item(data-aos='clip-down' data-aos-delay=(index * 200))
                    img(src=`src/images/furniture/${f.img}`)
                    span=f.title

