#menu.menu
  nav.menu-navigations
    .menu-links
      a(href='#services').default-link.anchor
        span Что мы предлагаем?
      a(href='#furniture').default-link.anchor
        span Виды мебели
      a(href='#apartments').default-link.anchor
        span Портфолио
      a(href='#footer').default-link.anchor
        span Контакты
    include bitrixScript
    button.default-btn.menu-btn(data-target='#modal' data-toggle="modal") Связаться с нами