#modal.modalForm
  .modalForm__wrapper
    .modalForm__content
      span.closeBtn#closePopup
      form(action='#').form#modalForm
        .form__title
          h2.default-title Связаться с нами
        .form__subtitle
          p Введите ваши данные и наш менеджер перезвонит вам в ближайшее время
        .form__inputs
          input(type='text' name='name' required placeholder='Имя').modalForm-input
          input(type='number' name='phone' required placeholder='Телефон').modalForm-input
        .form__btn
          button.default-btn(type='submit') Отправить
