.footer {
  margin-top: 160px;
  padding: 100px 0 120px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: $blue;

  &__contacts {
    color: $white;

    &_title {
      h2 {
        font-size: 36px;
      }
    }

    &_item {
      display: flex;
      flex-direction: column;
      margin-bottom: 40px;
      margin-top: 20px;

      .footer-link {
        margin-bottom: 27px;
        color: $white;

        img {
          margin-right: 15px;
        }
      }
    }
  }

  &__form {
    &_title {
      margin-bottom: 40px;
      text-align: center;

      h2 {
        font-size: 36px;
      }

      p {
        font-size: 20px;
        color: $white;
      }
    }
  }

  @media screen and (max-width: 1200px) {
    margin-top: 110px;
    padding: 50px 0 70px;

    &__contacts {
      &_title {
        h2 {
          font-size: 24px;
        }
      }
      &_item {
        margin-top: 18px;
      }
    }

    &__form {
      &_title {
        h2 {
          font-size: 24px;
          margin: 0;
        }
        p {
          font-size: 16px;
        }
      }
    }
  }

  @media screen and (max-width: 992px) {
    &__contacts {

      &_item {
        margin-bottom: 30px;
        margin-top: 20px;

        .footer-link {
            margin-bottom: 13px;
        }
      }
    }
    &__form {
      &_title {
        h2 {
          font-size: 24px;
          margin: 0;
        }
        p {
          font-size: 16px;
        }
      }
    }
  }


  @media screen and (max-width: 768px) {
    flex-direction: column;
    padding: 20px;
    &__contacts {
      align-self: flex-start;
      margin-top: 60px;

      &_item {
        margin-bottom: 30px;
      }
    }

    &__form {
      text-align: center;
      order: -1;
      width: 100%;
      &_title {
        h2 {
          margin-bottom: 10px;
        }
      }

    }

  }
}





