.header {
  z-index: 999;
  background-color: #FFFFFF;
  height: 100px;
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  display: flex;
  align-items: center;

  &__navigation {
    display: flex;
    justify-content: space-around;
    max-width: 756px;
    width: 100%;
    margin: 0 auto;
  }

  &__contactUs {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    .phoneIcon {
      position: relative;

      img {
        margin-right: 12px;
        cursor: pointer;
      }

      .phonesSelect {
        transition: all ease .3s;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        position: absolute;
        width: 200px;
        padding: 20px;
        background-color: $white;
        bottom: -90px;
        left: -50px;
        border-radius: 0 0 6px 6px;

        a {
          display: block;
        }

      }
    }


    .phones {
      display: flex;
      flex-direction: column;

    }

    .contactPhone {
      margin-right: 40px;

    }

    .contactBtn {
      padding: 17px 24px;
    }
  }

  &__burger {
    width: 24px;
    height: 20px;
    cursor: pointer;
    transition: all ease .3s;
    position: relative;

    span {
      position: absolute;
      width: 24px;
      height: 1.5px;
      background-color: $blue;
      transition: all ease .3s;
    }

    span:first-child {
      top: 0;
    }

    span:nth-child(2n) {
      top: 50%;
      transform: translateY(-50%);
    }

    span:last-child {
      bottom: 0;
    }

    &.active {
      transition: all .3s;

      span:nth-child(2n) {
        opacity: 0;
        transform: translateX(100%);
      }

      span:first-child {
        transform: translateY(11px) rotate(45deg);
      }

      span:last-child {
        transform: translateY(-7px) rotate(-45deg);
      }
    }
  }
}

@media screen and (max-width: 1400px) {
  .header {
    &__contactUs {
      .contactPhone {
        margin-right: 20px;
      }

      .contactBtn {
        padding: 15px 22px;
        font-size: 16px;
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .header {
    &__contactUs {
      .phoneIcon {
        transition: all ease .3s;

        &:hover {
          .phonesSelect {
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1140px) {
  .header {
    &__contactUs {
      .contactBtn {
        padding: 13px 18px;
        font-size: 14px;
      }
    }
  }
}

@media screen and (max-width: 992px) {
  .header {
    height: 60px;

    &__items {
      display: flex;
      justify-content: space-between;
    }
  }
}
