//INTRO
.intro {
  margin-top: 100px;
  position: relative;

  .intro__slider {
    position: relative;

    &-desc {
      position: absolute;
      right: 0;
      bottom: 0;
      padding: 32px 40px 10px;
      max-width: 830px;
      width: 100%;
      background-color: $white;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .description {
        width: 100%;
        font-size: 16px;
        line-height: 24px;
      }
    }

    &-item {
      width: 100%;
      min-height: 456px;
      max-height: calc(100vh - 100px);
      height: 100%;

      .slider-img {
        max-height: calc(100vh - 100px);
        height: 100%;
        display: block;
        width: 100%;
        min-height: 456px;
        object-fit: cover;
      }

      .darkBg {
        position: relative;
        &:after {
          content: '';
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          background-color: rgba(0, 0, 0, .2);
          pointer-events: none;
        }
      }

      .container-fluid {
        position: relative;
      }
    }

    &-title {
      position: absolute;
      left: 80px;
      bottom: 160px;
    }

    &-pagination {
      display: flex;
      align-items: center;

      .pagination-number {
        padding: 0 30px;
        font-size: 16px;
        line-height: 32px;

        span:first-child {
          font-size: 32px;
          line-height: 32px;
        }
      }

      .arrow {
        cursor: pointer;
        height: 24px;
        width: 40px;
        transition: all ease-in-out .3s;

        &.prev-arrow:hover {
          transform: translateX(-8px);
        }

        &.next-arrow:hover {
          transform: translateX(8px);
        }
      }
    }

  }
}

//SERVICES
.services {
  &__title {
    margin-bottom: 80px;
    text-align: center;
  }

  &__item {

    img {
      width: 56px;
      height: 56px;
    }

    &-title {
      font-family: 'Neue Haas Unica Bold', sans-serif;
      font-size: 28px;
      line-height: 32px;
      margin: 40px 0 15px;
    }

    &-desc {
      font-size: 18px;
      line-height: 32px;
    }
  }
}

//FURNITURE
.furniture {
  position: relative;

  &__btn {
    margin: 50px auto 0;
    display: block;
  }

  &__title {
    text-align: center;
    margin-bottom: 68px;
    position: relative;

  }

  &__items {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 22px;
  }


  &__item {
    position: relative;
    height: 224px;
    transition: all ease-in-out .3s;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    span {
     position: absolute;
      display: block;
      bottom: 0;
      left: 0;
      width: 100%;
      right: 0;
      padding: 20px 0;
      background-color: $blue;
      text-align: center;
      color: $white;
    }
  }
}

//APARTMENTS
.apartments {
  &__header {
    text-align: center;
    margin-bottom: 112px;
  }
}

//HOTELS
.hotels {
  &__header {
    text-align: center;
    margin-bottom: 112px;
  }

  &__btn {
    text-align: center;
  }
}

@media screen and (max-width: 1500px) {
  .furniture__items {
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 40px;

    .furniture__item {
      height: 400px;
    }
  }

  .intro {
    .intro__slider {
      &-title {
        left: 40px;
      }

      &-desc {
        padding: 20px 30px;
      }

      &-pagination {
        .pagination-number {
          padding: 0 20px;
        }
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .services {
    &__title {
      margin-bottom: 60px;
    }

    &__item {
      &-title {
        font-size: 24px;
        line-height: 28px;
        margin: 30px 0 15px;
      }

      &-desc {
        font-size: 16px;
        line-height: 30px;
      }
    }
  }

  .furniture {
    &__items {
      grid-template-rows: 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 30px;

      .furniture__item {
        height: 342px;

        span {
          font-size: 24px;
        }
      }
    }
  }

  .intro {
    .intro__slider {
      &-title {
        left: 20px;
      }

      &-desc {
        padding: 20px 20px;

        .description {
          font-size: 14px;
          line-height: 22px;
        }
      }
    }
  }
}

@media screen and (max-width: 992px) {
  .services {
    .row {
      .col-12:last-child {
        .services__item {
          margin-bottom: 0;
        }
      }
    }

    &__item {
      margin-bottom: 40px;

      &-title {
        margin: 20px 0 10px;
      }
    }
  }

  .furniture {
    &__items {
      grid-template-rows: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr;
      grid-gap: 20px;
    }

    &__title {
      margin-bottom: 40px;
    }
  }

  .apartments {
    &__header {
      margin-bottom: 80px;
    }
  }

  .hotels {
    &__header {
      margin-bottom: 80px;
    }
  }

  .intro {
    margin-top: 60px;

    .intro__slider-title {
      bottom: 100px;
    }

    .intro__slider-desc {
      position: relative;
    }
  }
}


@media screen and (max-width: 768px) {

  .services {

    &__title {
      margin-bottom: 40px;
    }

    &__item {
      img {
        width: 40px;
        height: 40px;
      }

      &-title {
        font-size: 18px;
        line-height: 18px;
        margin: 20px 0 12px;
      }

      &-desc {
        font-size: 14px;
        line-height: 24px;
      }
    }
  }

  .furniture {
    &__items {
      justify-items: center;
      grid-template-rows: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr;
      grid-gap: 20px;

      .furniture__item {
        height: 342px;

        span {
          font-size: 20px;
        }
      }
    }

    &__title {
      margin-bottom: 20px;
    }
  }

  .apartments {
    &__header {
      margin-top: 100px;
      margin-bottom: 40px;
    }
  }

  .hotels {
    &__header {
      margin-bottom: 40px;
    }
  }

  .intro {
    .intro__slider-title {
      bottom: 20px;
    }
    //.intro__slider-desc {
    //  display: block;
    //  position: relative;
    //  bottom: 0;
    //  flex-direction: column;
    //  align-items: flex-start;
    //}
    .intro__slider-pagination {
      .arrow {
        width: 27px;
        height: 16px;
        img {
          width: 100%;
          height: 100%;
        }
      }
      .pagination-number {
        padding: 0 20px;
        font-size: 14px;
        line-height: 14px;
        span:first-child {
          font-size: 24px;
          line-height: 24px;
        }
      }
    }
  }
}

