.menu {
  position: fixed;
  z-index: 998;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $white;
  transform: translateY(-200%);
  transition: all ease-in-out .3s;

  &-navigations {
    position: relative;
    height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

    .menu-links {
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);

      a {
        margin-bottom: 30px;

        span {
          font-size: 24px;
          line-height: 32px;
        }
      }
    }

    .menu-btn {
      position: absolute;
      bottom: 40px;
    }
  }

  &.open {
    transform: translateY(0);
  }
}