body {
  font-family: $font, sans-serif;
  color: $black;
  display: flex;
  flex-direction: column;
  height: 100%;

  &.lock {
    overflow: hidden;
  }
}

header {
  flex: 0 0 auto;
}

main {
  flex: 1 0 auto;
}

footer {
  flex: 0 0 auto;
}

.container-fluid {
  max-width: 1920px;
  width: 100%;
  padding: 0 80px;
  @media screen and (max-width: 1500px) {
    padding: 0 40px;
  }
  @media screen and (max-width: 1200px) {
    padding: 0 20px;
  }
}

.slider-container {
  margin: 0 auto;
  max-width: 1920px;
  width: 100%;
  padding: 0 0 0 80px;
  @media screen and (max-width: 1500px) {
    padding: 0 0 0 40px;
  }
  @media screen and (max-width: 1200px) {
    padding: 0 0 0 20px;
  }
}

.default-btn {
  border: none;
  background-color: $blue;
  padding: 17px 30px;
  font-size: 18px;
  color: $white;
  line-height: 18px;
  transition: all .3s ease;

  &:hover {
    background-color: $btn-Hover;
  }

  &.white {
    background-color: $white;
    color: $blue;
    transition: all .3s ease;

    &:hover {
      background-color: $btnWhite-Hover;
    }
  }

  @media screen and (max-width: 992px) {
    font-size: 14px;
    line-height: 14px;
    padding: 13px 20px;
  }
}

.default-link {
  span {
    color: $black;
    font-size: 16px;
    line-height: 16px;
    transition: all .3s ease;
  }

  &:hover {
    text-decoration: none;

    span {
      color: $blue;
    }
  }

  @media screen and (max-width: 992px) {
    span {
      font-size: 14px;
      line-height: 14px;
    }
  }
}

.default-title {
  font-family: 'Neue Haas Unica Bold', sans-serif;
  font-size: 64px;
  line-height: 64px;

  &.white {
    color: $white;
  }

  &.big {
    font-size: 80px;
    line-height: 92px;

    &.big.white {
      color: $white;
    }
  }

  @media screen and (max-width: 1200px) {

    font-size: 48px;
    line-height: 48px;

    &.big {
      font-size: 60px;
      line-height: 60px;
    }
  }
  @media screen and (max-width: 992px) {

    font-size: 32px;
    line-height: 32px;

    &.big {
      font-size: 48px;
      line-height: 48px;
    }
  }

  @media screen and (max-width: 768px) {

    font-size: 24px;
    line-height: 24px;

    &.big {
      font-size: 24px;
      line-height: 32px;
    }
  }


}

.logo {
  @media screen and (max-width: 992px) {
    height: 40px;
    width: 40px;
  }
}

section {
  margin-top: 160px;

  &#intro {
    margin: 0;
  }

  @media screen and (max-width: 1200px) {
    margin-top: 110px;
  }
  @media screen and (max-width: 992px) {
    margin-top: 60px;
  }
}

.slider {
  z-index: 100;
  position: relative;

  .slider-content {

    &_item {
      margin: 40px 20px;
      width: 410px;
      height: 270px;
      position: relative;

      &:before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        cursor: pointer;
        opacity: .4;
        z-index: 3;
        transition: all ease-in-out .3s;
        pointer-events: none;

      }

      &:hover {
        &:before {
          background-color: $black;
        }
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
        position: relative;
      }


    }
  }

  .slider-dots {
    position: absolute;
    top: -60px;
    left: 50%;
    transform: translateX(-56%);
    list-style: none;
    display: flex;

    .slick-active {
      button {
        background-color: $blue;
      }
    }


    li {
      font-size: 0;
      margin: 0 6px;
      width: 12px;
      height: 12px;

      button {
        border: none;
        width: 12px;
        height: 12px;
        background-color: #D5D5D5;
        border-radius: 50%;
        transition: all ease-in-out .2s;
      }

      &:hover {
        button {
          background-color: $blue;
        }
      }
    }
  }

  @media screen and (max-width: 1200px) {
    .slider-content {
      &_item {
        width: 315px;
        height: 208px;
      }
    }
  }

  @media screen and (max-width: 992px) {
    .slider-dots {
      top: -40px;

      li {
        width: 10px;

        button {
          width: 10px;
          height: 10px;
        }
      }
    }
    .slider-content {
      &_item {
        margin: 10px 5px;
      }
    }
  }

  @media screen and (max-width: 768px) {
    .slider-content {
      &_item {
        width: 300px;
        height: 193px;
      }
    }

    .slider-dots {
      top: -20px;
    }
  }
}

[data-aos] {
  body[data-aos-easing="show-easing"] &,
  &[data-aos][data-aos-easing="show-easing"] {
    transition-timing-function: cubic-bezier(0, .55, .45, 1);
  }
}

[data-aos="fade-up-20"] {
  opacity: 0;
  transform: translateY(20px);
  transition-property: transform, opacity;

  &.aos-animate {
    opacity: 1;
    transform: translateY(0px);
  }
}

.animated-title {
  & > span {
    overflow: hidden;
    margin-right: 15px;
    line-height: normal;
    display: inline-block;

    &:last-child {
      margin-right: 0;
    }

    span {
      line-height: normal;
      display: inline-block;
      transform: translateY(100%);
    }
  }

  @media screen and (max-width: 992px) {
    & > span {
      margin-right: 7px;
    }
  }
}


[data-aos="fade-right-20"] {
  opacity: 0;
  transform: translate(-20px);
  transition-property: transform, opacity;

  &.aos-animate {
    opacity: 1;
    transform: translateX(0px);
  }
}


[data-aos="fade-right-50"] {
  opacity: 0;
  transform: translate(-50px);
  transition-property: transform, opacity;

  &.aos-animate {
    opacity: 1;
    transform: translateX(0px);
  }
}

[data-aos="fade-up-mask"] {
  transform: translateY(-100%);
  transition-property: transform;

  &.aos-animate {
    transform: translateY(0);
    transition-property: transform;
  }
}

[data-aos="clip-right"] {
  clip-path: inset(0% 120% -5% 0%);
  transition-property: clip-path;

  &.aos-animate {
    clip-path: inset(0% 0% -5% 0%);
    transition-property: clip-path;
  }
}

[data-aos="clip-left"] {
  clip-path: inset(-5% 0% 0 200%);
  transition-property: clip-path;

  &.aos-animate {
    clip-path: inset(0% 0% -5% 0%);
    transition-property: clip-path;
  }
}

[data-aos="clip-down"] {
  clip-path: polygon(100% 0, 0 0, 0 0, 100% 0);
  transition-property: clip-path;

  &.aos-animate {
    clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%);
    transition-property: clip-path;
  }
}

.modalForm {
  position: fixed;
  z-index: 1000;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .4);
  opacity: 0;
  pointer-events: none;
  overflow: hidden;
  transition: all ease-in-out .3s;

  &__wrapper {
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__content {
    position: relative;
    margin: 20px;
    max-width: 860px;
    width: 100%;
    background-color: $white;
    padding: 20px;

    .closeBtn {
      position: absolute;
      right: 30px;
      top: 30px;
      width: 30px;
      height: 32px;
      cursor: pointer;
    }

    .closeBtn:before, .closeBtn:after {
      position: absolute;
      content: ' ';
      height: 33px;
      width: 2px;
      background-color: #D2D2D2;
    }

    .closeBtn:before {
      transform: rotate(45deg);
    }

    .closeBtn:after {
      transform: rotate(-45deg);
    }


    .form {
      text-align: center;
      padding: 100px 0;

      &__inputs {
        input {
          display: block;
          margin: 0 auto 20px;
          padding: 16px 20px;
          max-width: 360px;
          width: 100%;
          border: 1px solid #D2D2D2;
          box-sizing: border-box;

          &::placeholder {
            font-size: 18px;
            line-height: 18px;
            color: #AEAEAE;
          }
        }
      }

      &__btn {
        button {
          max-width: 360px;
          width: 100%;
        }
      }

      &__subtitle {
        max-width: 410px;
        width: 100%;
        margin: 20px auto 30px;
      }
    }
  }

  @media screen and (max-width: 992px) {
    &__content {
      .form {
        padding: 50px 0;

        &__inputs {
          input {
            padding: 0 0 0 16px;
            height: 40px;
            font-size: 14px;
            border-radius: 0;
          }

          &::placeholder {
            font-size: 14px;
          }
        }
      }
    }
  }

  &.open {
    opacity: 1;
    overflow: visible;
    pointer-events: all;
  }

}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.successPopup {
  position: fixed;
  z-index: 1000;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .4);
  opacity: 0;
  pointer-events: none;
  overflow: hidden;
  transition: all ease-in-out .3s;

  &__wrapper {
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__content {
    position: relative;
    margin: 20px;
    max-width: 860px;
    width: 100%;
    height: 250px;
    background-color: $white;
    padding: 20px;

    @media screen and (max-width: 992px) {
      height: 150px;
    }

    .successPopup__title {
      display: flex;
      text-align: center;
      justify-content: center;
      align-items: center;
      height: 100%;
      letter-spacing: 1.5px;
    }

    .closeBtn {
      position: absolute;
      right: 30px;
      top: 30px;
      width: 30px;
      height: 32px;
      cursor: pointer;
    }

    .closeBtn:before, .closeBtn:after {
      position: absolute;
      content: ' ';
      height: 33px;
      width: 2px;
      background-color: #D2D2D2;
    }

    .closeBtn:before {
      transform: rotate(45deg);
    }

    .closeBtn:after {
      transform: rotate(-45deg);
    }

  }
  &.open {
    opacity: 1;
    overflow: visible;
    pointer-events: all;
  }

}

.fancybox__container {
  --carousel-button-bg: rgb(0 0 0 / 44%);

  --carousel-button-svg-width: 24px;
  --carousel-button-svg-height: 24px;

  --carousel-button-svg-stroke-width: 2.5;
  --carousel-button-svg-filter: none;
}

.fancybox__nav {
  --carousel-button-svg-width: 22px;
  --carousel-button-svg-height: 22px;

  --carousel-button-svg-stroke-width: 3;
}

.fancybox__nav .carousel__button.is-prev {
  left: 30px;
}

.fancybox__nav .carousel__button.is-next {
  right: 30px;
}

.carousel__button.is-close {
  top: 30px;
  right: 30px;
}

.fancybox__slide {
  padding: 0;
}

.fancybox__thumbs {
  display: none;
}