@font-face {
  font-family: 'Neue Haas Unica';
  src: local('Neue Haas Unica Regular'), local('Neue-Haas-Unica-Regular'),
  url('../../fonts/NeueHaasUnica-Regular.woff2') format('woff2'),
  url('../../fonts/NeueHaasUnica-Regular.woff') format('woff'),
  url('../../fonts/NeueHaasUnica-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Neue Haas Unica Bold';
  src: local('Neue Haas Unica Bold'), local('Neue-Haas-Unica-Bold'),
  url('../../fonts/NeueHaasUnica-Bold.woff2') format('woff2'),
  url('../../fonts/NeueHaasUnica-Bold.woff') format('woff'),
  url('../../fonts/NeueHaasUnica-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}